<div ng-controller="aboutCtrl">
 
<markdown>
## Solution Overview
   
### Author
__Josh West__

Senior Solutions Architect, Financial Services,

JBoss Middleware and OpenShift PaaS, Red Hat, inc. 


### Technical Details

#### Server Side Frameworks Used

* __JBoss BPMS 6.0.3GA__ Business Process and Rules Engine

* __Spring 4.0__  Core, Shared Entity Manager, MVC, and REST Services


#### Client Side Frameworks Used

* __AngularJS__ MVC framework for the client side development
    
* __Toastr__ Notifications
    
* __Bootstrap__ Framework that provides a baseline set of components and styles.

* __Showdown__ Converts markdown to html .
 
* __JQuery__ Foundation of other javascript frameworks such as Toastr.
    
* __Bower__ Bower allows for javascript and css resources to be retrieved using a bill of materials descriptor instead of downloading them manually. 

</markdown> 
 
</div>