<div ng-controller="createInstanceCtrl">

	<div class="row">
		<div class="col-xs-9">
			<legend>
				<span class="glyphicon glyphicon-plus-sign"> </span> Create New Instance</span>
			</legend>
		</div>
		<div class="col-xs-3">
			<button type="button" class="btn btn-success btn-sm" ng-click="saveInstance()" ng-disabled="!model.isDirty">
				<span class="glyphicon glyphicon-save"> </span> <b>Save</b>
			</button>
		</div>
	</div>

	<div ng-show="model.initialized">
		<div class="alert alert-{{issue.type}} alert-dismissible" role="alert" ng-repeat="issue in model.issues">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<strong>{{issue.type=='danger'|iif:'ERROR':'WARNING'}}</strong> {{issue.msg}}
		</div>

		<div class="row">
			<div class="col-xs-2">
				<label class="control-label" for="textinput">Instance Key:</label>
			</div>
			<div class="col-xs-8 controls">
				{{model.newInstance.correlationKey}}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2">
				<label class="control-label" for="textinput">Category Name:</label>
			</div>
			<div class="col-xs-8 controls">
				{{model.newInstance.categoryName}} 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<label class="control-label" for="textinput">Process Name:</label>
			</div>
			<div class="col-xs-8 controls">
				{{model.newInstance.processName}} 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<label class="control-label" for="textinput">Originator:</label>
			</div>
			<div class="col-xs-8 controls">
				{{model.user.displayName}} in group {{model.process.displayName}}
			</div>
		</div>

<!-- 		<div class="row"> -->
<!-- 			<div class="col-xs-2"> -->
<!-- 				<label class="control-label" for="textinput">Account Number:</label> -->
<!-- 			</div> -->
<!-- 			<div class="col-xs-8 controls"> -->
<!-- 				<input class="form-control" placeholder="Enter account number..." ng-model="model.domain.accountNumber" ng-change="domainChanged()"></textarea> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
<!-- 		<div class="row"> -->
<!-- 			<div class="col-xs-2"> -->
<!-- 				<label class="control-label" for="textinput">Description:</label> -->
<!-- 			</div> -->
<!-- 			<div class="col-xs-8 controls"> -->
<!-- 				<textarea class="form-control" placeholder="Enter description..." rows="3" ng-model="model.domain.description" ng-change="domainChanged()"></textarea> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>

</div>
