<div ng-controller="inboxCtrl">
	
	<div class="row">
		<div class="col-xs-12">
			<legend>
				<span class="glyphicon glyphicon-inbox"> </span> Inbox <span class="badge">{{model.tasks.length}}</span>
			</legend>
		</div>
	</div>
	<div class="row" ng-hide="model.initialized">
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-cloud-download"> </span> Loading cases...
		</div>
	</div>

	<div ng-show="model.initialized">
		<div class="alert alert-{{issue.type}} alert-dismissible" role="alert" ng-repeat="issue in model.issues">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<strong>{{issue.type=='danger'|iif:'ERROR':'WARNING'}}</strong> {{issue.msg}}
		</div>

		<div class="row approval-container" ng-repeat="task in model.tasks">
			<div class="col-xs-7">
				<p>
					<b><a href="#!/tasks/{{task.id}}">{{task.name}}</a></b>
				</p>
				<p class="description" ng-bind-html="task.processId | markdown"></p>
			</div>
			<div class="col-xs-5">
				<div class="info-pair">
					<span class="info-label">Instance ID</span> <span class="info-value"><span class="badge">{{task.processInstanceId}} </span> <br /></span>
				</div>
				<div class="info-pair">
					<span class="info-label">Created</span> <span class="info-value">{{task.createdOn | date:'MMM d, y' }} <br /></span>
				</div>
				<div class="info-pair">
					<span class="info-label">Activated</span> <span class="info-value">{{task.activationTime | date:'MMM d, y @ h:mma'}} <br /></span>
				</div>
				<div class="info-pair">
					<span class="info-label">Status</span> <span class="info-value"><span class="label label-primary">{{task.status}}</span> <br /></span>
				</div>
			</div>

		</div>
	</div>

</div>
