<!doctype html>
<html class="no-js" lang="en" ng-app="mdw-web">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Red Hat Middleware Solutions POC - Metadata Driven Workflow</title>

<!-- <link rel="stylesheet" href="libs/semantic-ui/build/packaged/css/semantic.min.css" /> -->
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="libs/toastr/toastr.min.css" />
<link rel="stylesheet" href="assets/css/style.css" />

</head>
<body ng-controller="navCtrl">
	<header class="header header-fixed">
		<section class="navbar navbar-inverse brand-header">
			<div class="container">
				<div class="row">
					<div class="col-md-9 header-branding">
						<ul class="menu nav navbar-nav">
							<li class="divider-vertical"></li>
							<li><img class="logo" src="assets/gfx/redhat.icon3.jpg" height="50" width="80"></li>
							<li class="divider-vertical"></li>
							<li class="brandtitle">RED HAT MIDDLEWARE SOLUTIONS POC <small>Metadata Driven Workflow</small>
							</li> 
							<li class="divider-vertical"></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="navbar navbar-inverse docs-navbar-primary">
			<div class="container">
				<div class="row">
					<div class="col-md-10 header-branding">
						<ul class="menu nav navbar-nav">

							<li ng-class="menuClass('inbox')"><a href="#!inbox"><span class="glyphicon glyphicon-inbox"> </span> Inbox</a></li>

							<li class="divider-vertical"></li>

							<li ng-class="menuClass('about')"><a href="#!about"><span class="glyphicon glyphicon-info-sign"> </span> About</a></li>

							<li class="divider-vertical"></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="control-bar">
			<div class="container">
				<ul class="menu nav navbar-nav">
					<li class="divider-vertical"></li>
					<li class="control-bar-label">User:</li>
					<li class="control-bar-control"><select ng-selected="userChange(model.user)" ng-model="model.user" ng-options="user.displayName for user in model.users"
						class="form-control"></select></li>
					<li class="divider-vertical"></li>
					<li class="control-bar-label">Category:</li>
					<li class="control-bar-control"><select ng-selected="categoryChange(model.category)" ng-model="model.category"
						ng-options="category.displayName for category in model.categories" class="form-control"></select></li>
					<li class="divider-vertical"></li>
					<li class="control-bar-label">Group:</li>
					<li class="control-bar-control"><select ng-selected="groupChange(model.group)" ng-model="model.group" ng-options="group.displayName for group in model.groups"
						class="form-control"></select></li>
					<li class="divider-vertical"></li>
					<li class="control-bar-control"><a href="#!/create/{{model.category.categoryid}}/{{model.group.groupid}}">
							<button type="button" class="btn btn-primary btn-sm pull-right">
								<span class="glyphicon glyphicon-plus-sign"> </span> <b>Create New</b>
							</button>
					</a></li>
				</ul>
			</div>
		</section>
	</header>

	<section role="main" class="container main-body">
		<div class="main-grid main-body-grid">
			<ng-view></ng-view>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<p class="pull-right">December 2014</p>
			<p>Created by Josh West - Middleware Solutions Architect, Financial Services</p>
			<p>JBoss Middleware and OpenShift PaaS, Red Hat, inc.</p>
		</div>
	</footer>

	<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="libs/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="libs/showdown/compressed/showdown.js"></script>
	<script type="text/javascript" src="libs/toastr/toastr.min.js"></script>
	<script type="text/javascript" src="libs/x2js/xml2json.min.js"></script>
	<script type="text/javascript" src="libs/angular-x2js/dist/x2js.js"></script>

	<script type="text/javascript" src="assets/js/stubdata.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/services.js"></script>
	<script type="text/javascript" src="assets/js/controllers.js"></script>
	<script type="text/javascript" src="assets/js/filters.js"></script>
	<script type="text/javascript" src="assets/js/directives.js"></script>
</body>
</html>

